<div class="container mt-3 jumbotron alert-success">
    <h3 class="text-primary">Hasta luego {{ nombreUsuario }}</h3>
</div>

<script>
    setTimeout(() => {
        // after 2 seconds
        window.location = "/";
    }, 2000)
</script>